<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Spring Product</title>
    <style type="text/css">
        table {
            width: 600px;
        }
    h1 {
        color: blue;
    }
        .link {
            color: green;
            font-size: 25px;
        }
    </style>
</head>
<body>
<footer th:fragment="footer">
    &copy; 2019 CodeGym
</footer>
</body>
</html>